[submodule "j2eSubmodules/Entities"]
	path = j2eSubmodules/Entities
	url = https://github.com/pns-isa-devops/projet-isa-devops-team-d-20-entities.git
[submodule "j2eSubmodules/BillingComponent"]
	path = j2eSubmodules/BillingComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-BillingComponent.git
	branch = master
[submodule "j2eSubmodules/BillingWebService"]
	path = j2eSubmodules/BillingWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-BillingWebService.git
	branch = master
[submodule "j2eSubmodules/CustomerRegisterComponent"]
	path = j2eSubmodules/CustomerRegisterComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-CustomerRegisterComponent.git
	branch = master
[submodule "j2eSubmodules/CustomerRegisterWebService"]
	path = j2eSubmodules/CustomerRegisterWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-CustomerRegisterWebService.git
	branch = master
[submodule "j2eSubmodules/DeliveryComponent"]
	path = j2eSubmodules/DeliveryComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-DeliveryComponent.git
	branch = master
[submodule "j2eSubmodules/DeliveryWebService"]
	path = j2eSubmodules/DeliveryWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-DeliveryWebService.git
	branch = master
[submodule "j2eSubmodules/DroneManagementComponent"]
	path = j2eSubmodules/DroneManagementComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-DroneManagementComponent.git
	branch = master
[submodule "j2eSubmodules/PackageRegisterComponent"]
	path = j2eSubmodules/PackageRegisterComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-PackageRegisterComponent.git
	branch = master
[submodule "j2eSubmodules/PackageRegisterWebService"]
	path = j2eSubmodules/PackageRegisterWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-PackageRegisterWebService.git
	branch = master
[submodule "j2eSubmodules/PlanningComponent"]
	path = j2eSubmodules/PlanningComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-PlanningComponent.git
	branch = master
[submodule "j2eSubmodules/PlanningWebService"]
	path = j2eSubmodules/PlanningWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-PlanningWebService.git
	branch = master
[submodule "j2eSubmodules/ProviderRegisterComponent"]
	path = j2eSubmodules/ProviderRegisterComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-ProviderRegisterComponent.git
	branch = master
[submodule "j2eSubmodules/ProviderRegisterWebService"]
	path = j2eSubmodules/ProviderRegisterWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-ProviderRegisterWebService.git
	branch = master
[submodule "j2eSubmodules/Web"]
	path = j2eSubmodules/Web
	url = https://github.com/pns-isa-devops/j2eSubmodules-Web.git
	branch = master
[submodule "client/CliCustomerService"]
	path = client/CliCustomerService
	url = https://github.com/pns-isa-devops/clientSubmodules-CliCustomerService.git
[submodule "client/CliClissandre"]
	path = client/CliClissandre
	url = https://github.com/pns-isa-devops/clientSubmodules-CliClissandre.git
[submodule "partners/DotNet"]
	path = partners/DotNet
	url = https://github.com/pns-isa-devops/partners-DotNet.git
