[submodule "drone-delivery/Entities"]
	path = drone-delivery/Entities
	url = https://github.com/pns-isa-devops/projet-isa-devops-team-d-20-entities.git
[submodule "drone-delivery/BillingComponent"]
	path = drone-delivery/BillingComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-BillingComponent.git
[submodule "drone-delivery/BillingWebService"]
	path = drone-delivery/BillingWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-BillingWebService.git
[submodule "drone-delivery/CustomerRegisterComponent"]
	path = drone-delivery/CustomerRegisterComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-CustomerRegisterComponent.git
[submodule "drone-delivery/CustomerRegisterWebService"]
	path = drone-delivery/CustomerRegisterWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-CustomerRegisterWebService.git
[submodule "drone-delivery/DeliveryComponent"]
	path = drone-delivery/DeliveryComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-DeliveryComponent.git
[submodule "drone-delivery/DeliveryWebService"]
	path = drone-delivery/DeliveryWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-DeliveryWebService.git
[submodule "drone-delivery/DroneManagementComponent"]
	path = drone-delivery/DroneManagementComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-DroneManagementComponent.git
[submodule "drone-delivery/PackageRegisterComponent"]
	path = drone-delivery/PackageRegisterComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-PackageRegisterComponent.git
[submodule "drone-delivery/PackageRegisterWebService"]
	path = drone-delivery/PackageRegisterWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-PackageRegisterWebService.git
[submodule "drone-delivery/PlanningComponent"]
	path = drone-delivery/PlanningComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-PlanningComponent.git
[submodule "drone-delivery/PlanningWebService"]
	path = drone-delivery/PlanningWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-PlanningWebService.git
[submodule "drone-delivery/ProviderRegisterComponent"]
	path = drone-delivery/ProviderRegisterComponent
	url = https://github.com/pns-isa-devops/j2eSubmodules-ProviderRegisterComponent.git
[submodule "drone-delivery/ProviderRegisterWebService"]
	path = drone-delivery/ProviderRegisterWebService
	url = https://github.com/pns-isa-devops/j2eSubmodules-ProviderRegisterWebService.git
[submodule "drone-delivery/Web"]
	path = drone-delivery/Web
	url = https://github.com/pns-isa-devops/j2eSubmodules-Web.git
[submodule "client/CliCustomerService"]
	path = client/CliCustomerService
	url = https://github.com/pns-isa-devops/clientSubmodules-CliCustomerService.git
[submodule "client/CliClissandre"]
	path = client/CliClissandre
	url = https://github.com/pns-isa-devops/clientSubmodules-CliClissandre.git
[submodule "partners/DotNet"]
	path = partners/DotNet
	url = https://github.com/pns-isa-devops/partners-DotNet.git
